<h1 class="mt-4 display-4 text-center">
    RxJS Practical Examples
</h1>

<!-- Directory -->
<app-component-container
    title="Directory"
    [operators]="fruitGardenOperators">
    <app-directory></app-directory>
</app-component-container>

<!-- Horse Race -->
<app-component-container
    title="Horse Race"
    [operators]="horseRaceOperators">
    <app-horse-race></app-horse-race>
</app-component-container>

<!-- Bowling Ball -->
<app-component-container
    title="Bowling Balls"
    [operators]="bowlingBallOperators">
    <app-bowling-ball></app-bowling-ball>
</app-component-container>

<!-- Fruit Garden -->
<app-component-container
    title="Fruit Garden"
    [operators]="fruitGardenOperators">
    <app-fruit-garden></app-fruit-garden>
</app-component-container>