<div class="container my-5">

    <p class="h3 mt-3">{{title}}</p>
    <hr>
    
    <div class="row mx-5">
        <div class="col">
            <ng-content></ng-content>
        </div>
    </div>
    
    <hr>
    
    <div class="px-2 mb-3">
        <p class="h5">Operators Used:</p>
        <div class="row">
            <div class="col">
                <div class="row px-2">
                    <div
                        class="col-4 operator-tag"
                        *ngFor="let operator of operatorsUsed">
                        - {{operator + '()' }}
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

