<div class="row">
    <div class="col-12 text-center">

        <p
            class="h3"
            [style.visibility]="!raceWinner ? 'hidden' : 'visible'"
            [style.color]="raceWinner ? raceWinner.color : 'inherit'">
            {{getRaceStatus()}}
        </p>

    </div>
</div>

<div class="row">

    <!-- horses -->
    <div class="col-12" *ngFor="let horse of horses">
        <fa-icon
            class="horseIcon"
            [style.color]="horse.color"
            [style.left]="horse.position + '%'"
            transform="grow-18"
            [icon]="faHorse"></fa-icon>
    </div>
</div>

<!-- start race button -->
<div class="row">
    <div class="col text-center">
        <button
            class="btn mt-2"
            [class]="{'btn-success': !raceStarted, 'btn-secondary': raceStarted}"
            [disabled]="raceStarted"
            (click)="startRace()">
            {{raceStarted ? 'Please Wait...' : 'Start the Race!'}}
        </button>
    </div>
</div>
